@media screen and (max-width:992px) {
    header > div#background-foto {
        background-image: url(../img/man-1.jpg);
        height: 50vh;
    }

    .text {
        color: black;
        position: absolute;
        text-align: center;
    }

    .h1 {
        top: 57%;
        left: 40%;
    }

    .h2 {
        top: 50%;
        left: 50%;
    }
}

@media screen and (min-width:993px) and (max-width:1170px) {
    header > div#background-foto {
        background-image: url(../img/man-2.jpg);
        height: 70vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .text {
        left: 55%;
    }

    .h1 {
        top: 12%;
    }

    .h2 {
        top: 6%;
    }

}

