body {
    font-family: "Verdana";
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.text {
    position: absolute;
    left: 5%;
    color: white;
}

.h1 {
    top: 55%;
}

.h2 {
    top: 50%;
}

header > div#background-foto {
    background-image: url(../img/man-1.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}