* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@keyframes header-animate {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 70%, 25% 100%, 0 70%); }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }

body {
  font-family: 'Muli', sans-serif;
  font-size: 13px; }

.margin-top-style {
  margin-top: 4px; }

.navbar-dark .navbar-nav .nav-link {
  color: #dadada; }
  .navbar-dark .navbar-nav .nav-link i {
    font-size: 13px; }

.main-nav1 {
  background-color: #0e0e0e; }
  .main-nav1 .nav-link-style i {
    margin: 15px;
    font-size: 13px; }

.dropdown-menu {
  min-width: 1rem;
  background-color: #0e0e0e;
  color: #dadada;
  font-size: 13px;
  font-family: 'Muli', sans-serif;
  padding-bottom: 0px;
  padding-top: 0px;
  border: 0; }

.dropdown-menu li:hover {
  background-color: #151515; }

.navbar-expand-sm .navbar-nav .nav2-link-style {
  padding-right: 1.25rem !important;
  padding-left: 1.25rem !important;
  padding-bottom: 1rem;
  color: #dedede;
  border-bottom: solid 2px #151515; }
  .navbar-expand-sm .navbar-nav .nav2-link-style:hover {
    border-bottom: solid 2px #2a80f8; }

img#logo-main-nav {
  width: 30px;
  margin-right: 15px;
  margin-top: 0; }

.search-input {
  background-color: #dadada;
  border-radius: 0.35rem;
  width: 100%;
  height: 25px; }

#nav2 {
  background-color: #151515;
  padding-bottom: 0; }
  #nav2 .nav2-container-style {
    height: 100%;
    text-align: center;
    padding: 7px 0px 14px 0px; }
    #nav2 .nav2-container-style .nav2-row-style {
      height: 100%;
      text-align: center;
      padding: 7px 0px 14px 0px; }
      #nav2 .nav2-container-style .nav2-row-style .border-style:hover {
        border-bottom: solid 2px #2a80f8; }
  #nav2 a {
    text-decoration: none;
    color: #dadada; }

#main-header {
  background-image: linear-gradient(to right bottom, rgba(14, 25, 110, 0.4), rgba(42, 128, 248, 0.4)), url(../img/header-foto.jpg);
  background-size: cover;
  background-position: center;
  height: 84.5vh;
  color: white;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 25% 100%, 0 70%); }
  #main-header .header-caption {
    padding-left: 100px;
    position: fixed; }
    #main-header .header-caption img {
      height: 130px;
      margin: 75px 0 20px 0; }
    #main-header .header-caption .header-text-container {
      width: 50%; }
      #main-header .header-caption .header-text-container h1 {
        font-size: 3.5em;
        margin-bottom: 25px; }

.section-container {
  padding: 50px 0 50px 0;
  width: 100%;
  overflow-x: hidden; }
  .section-container .img-container {
    margin-top: 50px;
    height: 400px; }
  .section-container img {
    width: 350px;
    height: 350px;
    border-radius: 10%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); }
  .section-container .section-img-left {
    transform: rotate(15deg);
    margin-left: -50px; }
  .section-container .section-img-right {
    transform: rotate(-15deg);
    margin-right: -50px;
    margin-left: 80px; }
  .section-container .article-text {
    width: 60%;
    height: 400px;
    padding: 120px 200px 120px 200px; }
    .section-container .article-text h4 {
      margin-bottom: 1.5rem;
      color: #0e196e; }
    .section-container .article-text p {
      color: #393939; }

footer img#footer-logo {
  max-width: 22%;
  margin-bottom: 2.5rem; }

footer .footer-link {
  padding-right: 0.85rem !important;
  padding-left: 0.85rem !important;
  color: #393939; }
  footer .footer-link:hover, footer .footer-link:focus {
    color: #2a80f8;
    text-decoration: none; }

footer .navbar-light .navbar-nav .footer-link-1 {
  color: #393939; }
  footer .navbar-light .navbar-nav .footer-link-1:hover, footer .navbar-light .navbar-nav .footer-link-1:focus {
    color: #2a80f8;
    text-decoration: none; }

div#copyright {
  height: 1.75rem;
  margin-top: 0.94rem;
  margin-bottom: 0.5rem; }
  div#copyright p {
    color: #0e0e0e;
    padding: 0.2rem; }

#scroll-button {
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  border: solid 1px #2a80f8;
  border-radius: 100%;
  text-align: center; }
  #scroll-button i {
    color: #2a80f8;
    font-size: 12px; }

@media all and (max-width: 992px) {
  .to-hide {
    display: none; } }

@media all and (max-width: 992px) {
  .main-nav1 .nav-item {
    text-align: center; }
  #main-header .header-caption {
    padding-left: 70px;
    position: fixed; }
    #main-header .header-caption img {
      height: 100px;
      margin: 50px 0 20px 0; }
    #main-header .header-caption .header-text-container {
      width: 70%; }
      #main-header .header-caption .header-text-container h1 {
        font-size: 2.5em;
        margin-bottom: 20px; }
  .section-container .article-text {
    padding: 10px 50px 10px 50px;
    margin-top: 40px;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    text-align: center;
    height: 250px; }
  .section-container .img-container {
    margin-top: 40px;
    height: 250px; }
  .section-container img {
    width: 50vw;
    height: 50vw; }
  .section-container .section-img-right {
    margin-left: 220px; }
  .dropdown .dropdown-menu a.nav-link {
    text-align: center;
    padding: 8px 0;
    border-top: 1px solid rgba(119, 119, 119, 0.5); } }
.card-title {
    margin-bottom: .01rem;
}

p {
    margin-top: 0px;
    margin-bottom: 0rem;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0rem;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    text-align: justify;
	
}
.powiekszenie{
    overflow: hidden;
    padding: 0;
    
    border:0px solid #000;
}
.powiekszenie img {
    transition-duration: 1s;
    margin: 0 auto;
    display: block;
	
}
.powiekszenie img:hover {
    filter: brightness(60%);
	
	transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform:  (1.2);
    z-index: 0;
	
}
.


div#duze1 {
position: relative;
}
h5#kr {
opacity: 1;	
position: absolute;
top: 10px;
left: 10px;
}
