
.card-title {
    margin-bottom: .01rem;
}

p {
    margin-top: 0px;
    margin-bottom: 0rem;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0rem;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    text-align: justify;
	
}
.powiekszenie{
    overflow: hidden;
    padding: 0;
    
    border:0px solid #000;
}
.powiekszenie img {
    transition-duration: 1s;
    margin: 0 auto;
    display: block;
	
}
.powiekszenie img:hover {
    filter: brightness(60%);
	
	transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform:  (1.2);
    z-index: 0;
	
}

div#duze1 {
position: relative;
}
h5#kr {
opacity: 1;	
position: absolute;
top: 10px;
left: 10px;
}
